[user]
    email = mcgillivray.jason@gmail.com
    name = mcgillij
    signingkey = 5EB318ED1F8DCB1E
[init]
    defaultBranch = main
[merge]
    conflictstyle = diff3

[diff]
    tool = difftastic
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

# Use a pager for large output, just like other git commands.
[pager]
    difftool = true

# `git dft` is less to type than `git difftool`.
[alias]
    dft = difftool
[push]
    autoSetupRemote = true
    default = simple
    followTags = true
[pull]
    rebase = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[gpg "ssh"]
    allowedSignersFile = /home/j/.config/git/allowed_signers
[commit]
    gpgsign = true
[tag]
    gpgsign = true

[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
;[core]
        ;excludesfile = ~/.gitignore
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
