[user]
    email = mcgillivray.jason@gmail.com
    name = mcgillij
    signingkey = 5EB318ED1F8DCB1E
[init]
    defaultBranch = main
[merge]
    conflictstyle = diff3

[diff]
    tool = difftastic
    colorMoved = default

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

# Use a pager for large output, just like other git commands.
[pager]
    difftool = true

# `git dft` is less to type than `git difftool`.
[alias]
    dft = difftool
[push]
    autoSetupRemote = true
[gpg "ssh"]
    allowedSignersFile = /home/j/.config/git/allowed_signers
[commit]
	gpgsign = true
[tag]
	gpgsign = true
